[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
django = "*"
psycopg2-binary = "*"
pillow = "*"
form = "*"

[dev-packages]

[requires]
python_version = "3.10"
